@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    color: rgb(0, 0, 0);
}

section{

    display: fixed;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
}
.form-box{

    top:50px;
    margin-left: 23%;
    position: relative;
    width: 1000px;
    height: 150px;
    background: transparent;
    border: 2px solid rgba(219, 219, 219, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-box2{
    left: 0px;
    position: absolute;
    width: 600px;
    height: 150px;
    background: transparent;
    border-right:  2px solid rgba(219, 219, 219, 0.5);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

h2{
    font-size: 2em;
    color: #000000;
    text-align: center;
}

ion-icon{
    position: absolute;
    right: 8px;
    color: #000000;
    font-size: 1.2em;
    top: 20px;
}


.button1{
    top:15%;
    right: 10%;
    position: absolute;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.5);
}
.button1:hover{
    filter: invert(1);

    border: 2px solid rgba(51, 51, 51, 0.5);
}

.button2{
    top:55%;
    right: 10%;
    position: absolute;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: #f50029;
}
.button2:hover{
    color: #fff;
    background: #000000;
    border: 2px solid rgba(51, 51, 51, 0.5);
}


p{  
    position: relative;
    margin: 5px;
    text-align: justify;
    color: #000000;  
    font-weight: 600;
}

a{
    position: fixed;
    margin: 80px;
    margin-top: 60px;
    margin-left: 100px;
    text-align: justify;
    color: #000000;  
    font-weight: 600;
}

.avatar{
    left:5%;
    border-radius: 13px;
    position: absolute;
    width: 140px;
    height: 110px;
    max-width: 190px;
    max-width: 190px;

    background-color: #000000;
    
}
.info1{
    position: absolute;
    left: 25%;
}

.info2{
    position: absolute;
    left: 45%;
}

.gallary{
    margin-left: 23%;
    margin-top: 70px;
    position: flex;
    display: block;
    width: 1000px;
    height: 900px;
}

.stroke1{
    width: 1100px;
    height: 200px;

}

.stroke2{
    width: 1100px;
    height: 200px;

}

.stroke3{
    width: 1100px;
    height: 200px;

}
.stroke4{
    width: 1100px;
    height: 200px;

}

.image-banner{
    display: inline-block;
    margin-right: 170px;
    position: relative;
    width: 150px;
    height: 180px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 13px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 2px solid rgba(36, 36, 36, 0.5);
    backdrop-filter: blur(25px);
    cursor: pointer;
}

.image-banner:hover{
    zoom: 110%;  
    transform-delay:20s;
}

.image{
    margin: 5px;
    border-radius: 15px;
    position: absolute;
    width: 140px;
    height: 140px;
    max-width: 190px;
    max-width: 190px;

    background-color: #000000;
    
}