@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    transition: 0.5s;
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    color: rgb(0, 0, 0);
}

section{

    display: fixed;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('https://w.forfun.com/fetch/31/31d3a3372f346becb6d217f33ad0de04.jpeg');
    background-position: center;
    background-size: cover;
}
.form-box{

    top:50px;
    margin-left: 23%;
    position: relative;
    width: 1000px;
    height: 250px;
    background: transparent;
    border: 2px solid rgba(219, 219, 219, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-box2{
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(219, 219, 219, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #ffffff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fffbfb;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #ffffff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #ffffff;
    font-size: 1.2em;
    top: 20px;
}


b{
    top:52%;
    right: 30%;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
b:hover{
    filter: invert(1);
    border-radius: 40px;
    border: 2px solid rgba(51, 51, 51, 0.5);
}

.menu{
    background: #ffffff;
    top: 10px;
    right: 10px;
    position: absolute;
    width: 90px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid rgba(51, 51, 51, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    box-shadow: inset 0 1px 3px 1px rgba(0,0,0,0), inset 0 0 0 2em rgba(255,255,255,.5);
}

.menu:hover {
    width: 300px;
    box-shadow: inset 0 1px 3px 1px rgba(0,0,0,.5), inset 0 0 0 2em rgba(255,255,255,.5);
  }

p{  
    position: fixed;
    margin: 20px;
    margin-left: 100px;
    text-align: justify;
    color: #000000;  
    font-weight: 600;
}

a{
    position: fixed;
    margin: 80px;
    margin-top: 60px;
    margin-left: 100px;
    text-align: justify;
    color: #000000;  
    font-weight: 600;
}

.avatar{
    border-radius: 10px;
    position: absolute;
    width: 70px;
    height: 80px;
    max-width: 50px;
    max-width: 80px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #000000;
    background-size: cover;
}

#click:hover {
    cursor: pointer;
  }


.gallary{
    margin-left: 23%;
    top: 350px;
    position: absolute;
    width: 1000px;
    height: 500px;
    display: none;
}

.stroke{
    width: 1100px;
    height: 200px;

}

.image-banner{
    display: inline-block;
    margin-right: 170px;
    position: relative;
    width: 150px;
    height: 180px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 13px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 2px solid rgba(36, 36, 36, 0.5);
    backdrop-filter: blur(25px);
    cursor: pointer;
}

.image-banner:hover{
    zoom: 110%;
    margin: -10px;  
    margin-right: 5px;
}

.image{
    margin: 5px;
    border-radius: 15px;
    position: absolute;
    width: 140px;
    height: 140px;
    background-size: cover;
    background-color: #000000;
    
}

.image-banner:hover{
    transition:height .15s ease-out 10s;
}


.setphoto-main{
    position: fixed;
    opacity: 100%;
    margin-left: 485px;
    top:20%;
    width: 900px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    opacity: 90%;
    border: 2px solid rgba(51, 51, 51, 0.5);
    backdrop-filter: blur(15px);
    
}

.close-set-photo-main{
    zoom: 300%;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: invert(1);
    top:-15px;
}
.interact-block-main{
    display: inline;

    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0px;
    left: 5px;

}

.img-set-main{
    position: fixed;
    left: 50px;
    zoom: 200%;
}
hr {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
    border: 0;
    height: 1px;
    margin: 2px 0 22px 0;
    box-sizing: content-box;
    display: block;
    }

    .setphoto-main{
        position: fixed;
        opacity: 100%;
        margin-left: 685px;
        top:25%;
        width: 500px;
        height: 500px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        opacity: 90%;
        border: 2px solid rgba(51, 51, 51, 0.5);
        backdrop-filter: blur(15px);
        
    }
    .photoload-main{
        display: none;
        position: fixed;

        width: 100%;
        height: 100%;
        top:0px;
        left: 0px;
    
    }
    .button-share{
        display: inline;
        color: #ffffff;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background: rgb(7, 143, 255);
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
        border: 2px solid rgba(0, 0, 0, 0.5);
    }
    .button-share:hover{
        background-color: #ffffff;
        color: #fff;
        border: 2px solid rgba(51, 51, 51, 0.5);
        
    }
    h3{
        margin-top: 5px;
        font-size: 2em;
        color: #000000;
        text-align: center;
    }
    